<p>This page is to generate 100 quizzes. Each quiz has 5 Questions, and each Question has 3 options. You can also change the numbers at <text style="color:#FF0000";><i>quiz.views.py</i></text></p>
<p>This process will take some time, please wait</p>
<a href="{% url 'quiz:generate' %}">GENERATE NOW</a>